@import '../../constants/base.scss';

.input-form {
    background-color: $main-background-color;
    padding: 30vh 0 20vh;
    margin-top: -20vh;
}

.input-form-description {
    font-family: "Lato", sans-serif;
    padding: 10vh;
}