$main-background-color: rgba(0, 0, 0, 0.1);

$color-primary: rgb(94, 127, 139);
$color-primary-light: rgb(69, 142, 148);
$color-primary-dark: rgb(111, 99, 119);

$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;
$color-white: #fff;
$color-black: #000;
